---
BasedOnStyle: Chromium
Language: Cpp
Standard: Latest
SortIncludes: CaseInsensitive
IndentWidth: 4
AccessModifierOffset: -2
ColumnLimit: 100
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
#AllowShortBlocksOnASingleLine: Always
#AllowShortCaseLabelsOnASingleLine: true
#AllowShortFunctionsOnASingleLine: Inline
#AllowShortIfStatementsOnASingleLine: WithoutElse
#AllowShortLoopsOnASingleLine: true
#AllowShortLambdasOnASingleLine: Inline
#AllowAllConstructorInitializersOnNextLine: true
...
